body {
    box-sizing: border-box;
}


/* navbar */

.w3-sidebar {
    width: 130px;
    background: #222;
    border: 5px solid #222;
    font-size: 20px;
    overflow: hidden;
}

.profile-pic {
    border-radius: 4px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}


/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */

#main {
    margin-left: 130px;
    max-width: 100%;
}


/* resume */

.title {
    font-family: "Permanent Marker", cursive;
    font-size: 40px;
}

.resume-container {
    margin-bottom: 50px;
    max-width: 100%;
    border: 1px solid #fff;
    margin-top: 50px;
    border-radius: 8px;
    font-family: "Permanent Marker", cursive;
    font-family: "Kalam", cursive;
    font-size: 18px;
    display: none;
}

.content {
    max-width: 90%;
    margin-left: 60px;
    padding-bottom: 20px;
}

#resume {
    position: relative;
    left: 2%;
    transition: transform 0.2s;
}

#resume:hover {
    transform: scale(1.1);
}

#resumepdf {
    position: relative;
    left: 17%;
}

.work {
    text-align: center;
}

.gw {
    line-height: 2rem;
}


/* portfolio */

.w3-text-light-grey {
    font-family: "Permanent Marker", cursive;
    font-size: 30px;
}

#photos {
    background-image: url("../images/Image-bcg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    max-width: 100%;
    max-width: 100%;
    padding-left: 100px;
    font-family: "Permanent Marker", cursive;
    font-family: "Kalam", cursive;
    font-family: "Merienda One", cursive;
}

#transform {
    transition: transform 0.2s;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 6px;
    background-color: black;
    color: #fff;
}

#transform:hover {
    transform: scale(1.9);
    background-color: #fff;
    color: black;
    opacity: 0.8;
}

.w3-row {
    padding-bottom: 10px;
}

.w3-container {
    padding-bottom: 15px;
    max-width: 100%;
    padding: 20px;
}

.w3-third {
    margin-left: -15px;
}

.w3-hover-opacity {
    border: 2px solid #fff;
    border-radius: 8px;
    transition: transform 0.2s;
    max-width: 300px;
}

.w3-hover-opacity:hover {
    transform: scale(1.1);
}


/* contact*/

#contact {
    background-image: url("https://c.wallhere.com/photos/9e/73/computer_keyboards-1150906.jpg!d");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    max-width: 100%;
    padding-left: 100px;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    font-family: "Permanent Marker", cursive;
    font-family: "Kalam", cursive;
    font-family: "Merienda One", cursive;
}

.w3-input {
    max-width: 80%;
    border-radius: 6px;
}

.w3-button {
    border-radius: 6px;
    transition: transform 0.2s;
    font-family: "Permanent Marker", cursive;
    font-family: "Kalam", cursive;
    font-family: "Merienda One", cursive;
    outline: none;
}

.w3-button:hover {
    transform: scale(1.1);
}


/* about */

.w3-jumbo {
    margin-top: 50px;
    font-family: "Permanent Marker", cursive;
}

.full {
    font-family: "Permanent Marker", cursive;
    font-size: 17px;
}

#about {
    margin-top: 60px;
    font-family: "Permanent Marker", cursive;
    font-family: "Kalam", cursive;
    font-family: "Merienda One", cursive;
}

.about-me {
    line-height: 2rem;
    font-size: 19px;
}

.aboutMe {
    font-family: "Permanent Marker", cursive;
    font-size: 30px;
}


/* nav bar */

a {
    transition: transform 0.2s;
}

a:hover {
    transform: scale(1.1);
}


/* home */

#masthead {
    background: linear-gradient( to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../images/apple-laptop-notebook-office-39284.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    max-width: 100%;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}


/* footer font awesome */

.fa-instagram {
    padding-left: 20px;
}

.fa-instagram:hover {
    opacity: 0.2;
}

.fa-linkedin {
    padding-left: 20px;
}

.fa-linkedin:hover {
    opacity: 0.2;
}

.fa-github:hover {
    opacity: 0.2;
}

.connect {
    margin-bottom: 20px;
    font-family: "Permanent Marker", cursive;
}

#footer {
    text-align: center;
    font-family: "Permanent Marker", cursive;
}

.copy {}


/* media queries*/


/* Remove margins from "page content" on small screens */

@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0;
    }
}